body {
    margin: 0;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 326px;
}
label{
    font-weight: bold;

}
button{
    color:white;
    background:black;
}










.error {
    border: 1px solid red;
}
.progress {
    border: 1px solid orange;
}

.success {
    border: 1px solid green;
}
